@page
@model OnlineCinema.Web.Pages.LoginModel
@{
    ViewData["Title"] = "Log in";
}

<div class="display-4">
    <h1>Вход</h1>
</div>

<form method="post">
    <div class="login-field">
        <p1>
            Логин
            <input pattern="[A-Za-z0-9]{3,50}" 
                   title="Логин может содержать только буквы и цифры и быть длиной от 3 до 50 символов"
                   asp-for="Login" />
        </p1>
        <p1>
            Пароль
            <input pattern="[A-Za-z0-9]{3,50}" 
                   title="Пароль может содержать только буквы и цифры и быть длиной от 3 до 50 символов"
                   asp-for="Password" />
        </p1>
        <p2>
            <input type="submit" value="Войти" />
            <a asp-page="/Signup">Регистрация</a>
        </p2>
        <p1>@Model.Message</p1>
    </div>
</form>
