@page
@model OnlineCinema.Web.Pages.Profile.HistoryModel
@{
    ViewData["Title"] = "History";
    Layout = "_ProfileHeader";
}

<div>
    <h1>История заказов</h1>
</div>

@if (Model.Orders.Count() != 0)
{
<table class="table">
    <thead>
        <tr>
            <th>Номер заказа</th>
            <th>Дата заказа</th>
            <th>Кол-во фильмов</th>
            <th>Стоимость</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>#@order.Id</td>
                <td>@order.Date.ToString("dd-MM-yyyy")</td>
                <td>@order.FilmsAmount</td>
                <td>@order.TotalCost</td>
            </tr>
        }
    </tbody>
</table>  }
else
{
    <p1>Заказов пока нет</p1>
}
