@page
@model OnlineCinema.Web.Pages.Profile.IndexModel
@{
    ViewData["Title"] = "Profile";
    Layout = "_ProfileHeader";
}

<div>
    <h1>Информация</h1>
</div>

<div>
    <p1>Логин</p1>
    <p><strong>@Model.IdentifiedUser.Login</strong></p>
    <p1>Пароль</p1>
    <p><strong>@Model.IdentifiedUser.Password</strong></p>
    <p1>Электронныя почта</p1>
    <p><strong>@Model.IdentifiedUser.Email</strong></p>
    <p1>Дата рождения</p1>
    <p><strong>@Model.IdentifiedUser.BirthDate.ToString("dd MMMM yyyy")</strong></p>
</div>

<form method="get">
<div>
    <input type="submit" asp-page="./Edit" value="Редактировать" />
</div>
</form>